<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abhishek.testingpurpose">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- Allows access to the flashlight -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sqlite.InsertUser" />
        <activity android:name=".Sqlite.DeleteUser" />
        <activity android:name=".Sqlite.ViewUser" />
        <activity android:name=".Sqlite.UpdateUser" />
        <activity
            android:name=".FragmentManagement.MainFragment"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <service
            android:name=".Service.MyService"
            android:enabled="true">

        </service>

        <activity android:name=".Service.NextPage" />
        <activity
            android:name=".Service.ServiceMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".BroadcastReceiver.BroadcastMain">

        </activity>

        <activity android:name=".BroadcastReceiver.MyReceiver">
           <!-- <intent-filter>
                <action android:name="custom_intent" />
            </intent-filter>-->
        </activity>

        <activity android:name=".Thread.ThreadMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>